.activity-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.exercise-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 30px;
}
.details-container{
    background: rgba(72, 109, 223, 0.3);;
    padding: 20px;
    margin-top: 30px;
    height: 550px;
    margin-right: 20px;
}