.header{
    color: rgb(18, 41, 133);
    height: 90px;
    padding: 4px;
    display: flex;
    align-items: center;
    padding-left: 120px;
    padding-right: 140px;
    border-bottom: 2px solid black;
    margin-left: 3%;
    margin-right: 3%;

}
.header h1{
    font-size: 40px;
}
.header img{
    height: 80px;
    width: 80px;
}
@media screen and (max-width: 688px) {
    .header{
        padding: 4px;
        display: flex;
        align-items: center;
        padding-left: 60px;
        padding-right: 60px;
        border-bottom: 2px solid black;
        margin-left: 1%;
        margin-right: 1%;
    }
    .header h1{
        font-size: 28px;
    }
}